[[plugin.prepend_fetchers]]
id   = "mactag"
name = "*"
run  = "mactag"

[[plugin.prepend_fetchers]]
id   = "mactag"
name = "*/"
run  = "mactag"

[opener]
typora = [
    { run = 'open -a "Typora" "$@"', desc = "Typora" },
]

[[open.append_rules]]
name = "*.md"
use = ["typora"]
